body{
    font-family: "Montserrat", sans-serif;
}

img{
    width: 100%;
}

div.row{
    width: 1200px;
    margin: 0 auto;
}

div.my-carousel-container{
    min-height: 700px;
    min-width: 800px ;
}

div.my-carousel-images{
    min-height: 550px;
    background-color: aquamarine;
}

div.my-carousel-images .items-city{
    width: 100%;
    position: relative;
    display: none;
}

div.my-carousel-images .items-city.active{
    display: block;
}

div.city-description{
    position: absolute;
    top: 80%;
    right: 5%;
}

div.my-thumbnails{
    display: flex;
    background-color: violet;
    min-height: 150px;
}

div.my-thumbnails .thumbnail-city{
    border: 1px solid black;
}

div.my-previous,
div.my-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

div.my-previous{
    left: 1rem;
}

div.my-next{
    right: 1rem;
}

div.my-previous > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f7fb";
    line-height: 30px;
}

div.my-next > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f520";
    line-height: 30px;
}